.password-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  height: 100vh;
}

.password-generator-container {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 40px;
  border-radius: 12px;
}

.password-box {
  padding: 12px;
  background-color: white;
  color: black;
  width: 400px;
  border-radius: 12px;
}

.password-field {
  text-align: center;
  white-space: pre-wrap;
}

.inline-container {
  display: flex;
  gap: 4px;
  margin: 12px 0;
}
.password-buttons {
  margin: 12px 8px;
  display: flex;
  justify-content: center;
  gap: 4px;
}
